@import 'variables.scss';

/* Wine Card */
.c-WineCard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px 32px 32px;
    padding: 24px;
    border-radius: 2px;
    transition: box-shadow .3s, border .3s;
    position: relative;
    border: 1px solid rgba(175, 120, 106, .3);
    &.dominion img {
        border: 1px solid $color-black;
    }
}
.c-WineCard:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid rgba(175, 120, 106, .9);
}
.c-WineCard-image {
    // max-height: 500px;
    // border: 1px solid black;
    width: 260px;
    height: auto;
    align-self: flex-start;
}
.c-WineCard-title {
    margin-bottom: 12px;   
    letter-spacing: 1.1px;
}
.c-WineCard-body {
    display: flex;
    flex-direction: column;
    padding: 12px 24px;   
}
.c-WineCard-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.3;
    max-width: 500px;
    margin-bottom: 20px;
}
.c-WineCard-fineprint {
    margin-bottom: 24px;
    font-size: 16px;
}
.c-WineCard-quantity {
    margin-right: 24px;
    border: 1px solid $color-black;
    padding: 0.25em 0.5em;
    font-size: 20px;
    cursor: pointer;
    line-height: 1.1;
    background-color: $color-white;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    min-width: 65px;
    border-radius: 6px;
}
.c-WineCard select, .c-WineCard-quantity::after {
    grid-area: select;
}
.c-WineCard-quantity::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: $color-black;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}
.c-WineCard select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}
.c-WineCard-buy {
    display: flex;
}
/* Events */
.c-EventsFeature {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.c-EventsFeature-section {
    padding: $feature-padding;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.c-EventsFeature-section::after {
    content: '';
    position: absolute;
    top:0;
    right: 0;
    bottom: 20px;
    left: 0;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.53) 0%, rgba(0,0,0,0.53) 24%, rgba(0,0,0,0.51) 39%, rgba(0,0,0,0.42) 48%, rgba(0,0,0,0.00) 68%);
}
.c-EventsFeature-section.upcoming-events {
    background-image: url(../images/upcoming-events-pattern-teal.jpg);
}
.c-EventsFeature-section.private-gatherings {
    background-image: url(../images/private-gatherings-pattern-copper.jpg);
    color: $color-white;
}
.c-EventsFeature-header {
    position: relative;
    z-index: 1;
}
.c-EventsFeature-blurb {
    position: relative;
    z-index: 1;
}