// 00. Settings
@use '00-settings/colors';
@use '00-settings/typography';

// 01. Tools
@use '01-tools/typeMixins';

// 04. Elements
@use '04-elements/all';
@use '04-elements/heading1';
@use '04-elements/heading2';
@use '04-elements/body1';


/* SASS variables */
$font-stack: freight-display-pro, serif;
$font-color: white;
$font-label-size: 1rem;
$font-label-weight: bold;
$feature-blurb-bottom-margin: 22px;
$feature-padding: 36px 56px;
/* SASS mixins */

@mixin feature-body-font {
    font-size: 24px;
    color: colors.$color-white;
    font-weight: medium;
}
@mixin font-heading-1 {
    font-family: typography.$serif;
    font-weight: 500;
    // font-size: 80px;
    color: colors.$color-white;
}
@mixin font-heading-2 {
    font-family: $font-stack;
    font-weight: 400;
    // font-size: 56px;
    color: colors.$color-white;
    font-style: italic;
    text-align: center;
    letter-spacing: 3px;
}
@mixin font-heading-3 {
    font-family: $font-stack;
    font-weight: 500;
    color: colors.$color-white;
    font-size: 36px;
}
@mixin font-heading-4 {
    font-family: $font-stack;
    font-weight: 500;
    color: black;
    font-size: 28px;
}
@mixin font-subheading {
    font-family: $font-stack;
    font-weight: 700;
    font-size: 36px;
}
p {
    max-width: 800px;
}
h1 {
    @include font-heading-1();
    &.dark {
        color: colors.$color-black;
    }
    &.shadow {
        text-shadow: 0 2px 4px rgba(0,0,0,0.40);
    }
    &.center {
        text-align: center;
    }
    &.spaced {
        margin-top: 42px;
    }
}
h2 {
    @include font-heading-2();
    &.dark {
        color: colors.$color-black;
    }
    &.spaced-right {
        margin-right: 80px;
    }
    &.spaced-bottom {
        margin-bottom: 36px !important;
    }
}
h3 {
    @include font-heading-3();
    &.dark {
        color: colors.$color-black;
    }
}
.text-subheading {
    @include font-subheading();
    line-height: 1.25;
    text-align: center;
    margin: 0 auto;
    margin-top: 42px;
    max-width: 900px;
}
.text-body-regular {
    font-family: freight-display-pro, serif;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: colors.$color-black;
    font-size: 24px;
    line-height: 1.4;
    &.light {
        color: colors.$color-white;
    }
    p {
        margin-bottom: 22px;
    }
    &:last-of-type {
        margin-bottom: 36px;
    }
}
.text-body-highimpact {
    font-family: $font-stack;
    font-weight: 400;
    letter-spacing: 1.19;
    color: colors.$color-black;
    font-size: 36px;
    &.light {
        color: colors.$color-white;
    }
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 80px;
}
/* custom props */
:root {
    --select-border: #D7D7D7;
    --select-focus: cyan;
    --select-arrow: var(--select-border);
    --success-color: #95F204;
    --error-color: #d9001b;
  }
body, html * {
    font-family: $font-stack;
    margin: 0;
    box-sizing: border-box;
}
body {
    // max-width: 1920px;
}
main {
    height: 100vh;
    // display: flex;
    // flex-direction: column;
    // flex: 1;
    // justify-content: center;
}
.vmv-hr {
    position: relative;
}
hr {
    max-width: 600px;
    border-color: #666666;
    border-width: 2px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    overflow: visible;
}
hr::after {
    content: "";
    height: 4px;
    width: 40px;
    left: calc(50% - 15px);
    background-color: colors.$color-white;
    position: absolute;
    top: -2px;
}
.diamond-narrow {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 20px solid #AF786A;
    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 30px);
}
.diamond-narrow:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 20px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 20px solid #AF786A;
}
/* Elements */
.vmv-button--primary {
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: #fff;
    background: colors.$color-black;
    padding: 6px 45px;
    text-align: center;    
    position: relative;
    display: inline-block;
    border: 1px solid colors.$color-black;
    text-decoration: none;
    border-radius: 2px;
    transition: all .3s;
}
.vmv-button--secondary {
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: colors.$color-black;
    background: colors.$color-white;
    padding: 6px 45px;
    text-align: center;  
    position: relative;
    display: inline-block;  
    border: 1px solid #AF786A;
    text-decoration: none;
    border-radius: 2px;
    transition: all .3s;
}
.vmv-button--primary:hover, .vmv-button--secondary:hover {
    border-radius: 6px;
}
.vmv-button--primary:hover {
    // color: #caa59c;
    border-color: #AF786A;

}
.vmv-button--secondary:hover {
    background: rgba(0, 0, 0, .13);
}
/* Site header */
.vmv-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    padding: 18px 22px;
    z-index: 999;
    transition: background-color .2s, padding .3s;
    text-decoration: none;
}

.vmv-header.sticky-transparent {
    background: transparent;
}
.vmv-header.sticky-solid {
    background-color: colors.$color-white;
    border-bottom: 5px solid #AF786A; 
    padding-top: 4px;
    padding-bottom: 4px;
}
.vmv-header.inlayout-big {
    border-bottom: 5px solid #AF786A; 
    background-color: colors.$color-white;

}
.vmv-header.inlayout-small {
    border-bottom: 5px solid #AF786A;
    background-color: colors.$color-white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.vmv-header__monogram {
    // height: 65px;
    // width: 65px;
    cursor: pointer;
    border-radius: 500px;
    transition: background-color .3s;
    flex-shrink: 0;
    margin: 0px 22px 0px 0px;
}
.vmv-header__monogram:hover {
    background-color: rgba(0, 0, 0, .18);
}
/* Local site navigation */
.vmv-header__local-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.vmv-header__local-nav > a {
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    color: colors.$color-black;
    padding: 16px 36px;
    text-align: center;
    border-radius: 6px;
    transition: all .3s;
    margin: 0 12px;
    white-space: nowrap;
    border: 1px solid transparent;
}
.vmv-header__local-nav > a:hover {
    background-color: rgba(0, 0, 0, .18);
    border: 1px solid #AF786A;
}
.vmv-header a {
    text-decoration: none;
    display: inline-block;
}
/* Icon Buttons */
.vmv-header__nav-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.vmv-header__nav-buttons > a {
    border: 1px solid transparent;
}
.vmv-header__nav-buttons > a:hover {

}
.vmv-header__nav-buttons > a:not(.vmv-button--primary) {
    // padding: 8px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s;
    margin-left: 4px;
}
.vmv-header__nav-buttons > a:not(.vmv-button--primary):hover {
    background-color: rgba(0, 0, 0, .18);
    border: 1px solid #AF786A;
}
.vmv-header__nav-buttons > a:last-child {
    margin-left: 32px;
}
.vmv-header__nav-buttons > a:nth-last-child(2) {
    // padding: 8px 4px;
}
.navbar__dropdown {
    display: inline-block;
    position: relative;
}
.navbar__dropdown-label {
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    color: colors.$color-black;
    padding: 16px 56px 16px 36px;
    text-align: center;
    border-radius: 6px;
    transition: all .3s;
    margin: 0 12px;
    white-space: nowrap;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
}
.navbar__dropdown-label.false::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid colors.$color-black;
    position: absolute;
    right: 32px;
    top: calc(50% - 6px);
    transition: transform .2s;
}
.navbar__dropdown-label:hover {
    background-color: rgba(0, 0, 0, .18);
    border: 1px solid #AF786A;
}
.navbar__dropdown-label.true {
    background-color: rgba(0, 0, 0, .18);
    border: 1px solid #AF786A;
}
.navbar__dropdown-label.true::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid colors.$color-black;
    position: absolute;
    right: 32px;
    top: calc(50% - 5px); 
    transform: rotate(180deg);
    transition: transform .2s;
}
.navbar__dropdown-label.false ~ .navbar__dropdown-children {
    visibility: hidden;
    opacity: 0;}
.navbar__dropdown-children {
    transition: visibility .2s, opacity .2s;
    background: colors.$color-black;
    padding: 8px;
    position: absolute;
    top: calc(100% + 10px);
    list-style: none;
    min-width: 100%;
    border-radius: 6px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 1px solid rgba(0, 0, 0, .2)
}
.navbar__dropdown-label.true ~ .navbar__dropdown-children {
    visibility: visible;
    opacity: 1;
}
.navbar__dropdown-children li {
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    color: white;
    text-align: left;
    border-radius: 6px;
    transition: all .3s;
    white-space: nowrap;
    border: 1px solid transparent;
    cursor: pointer;
}
.navbar__dropdown-children li:hover {
    background-color: rgba(255,255,255, .25);
    border: 1px solid #AF786A;
}
.navbar__dropdown-children li a {
    color: white;
    padding: 16px 36px;
}
/* hero */
.vmv-hero {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.vmv-hero svg {
    margin-bottom: 20vh;
}
/*tastings*/
.tastings {
    border-top: 6px solid #AF786A;
    position: relative;
    // height: 100vh;
}
.tastings-img {
    width: 100vw;
    height: auto;
}
.tastings__text {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $feature-padding;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, colors.$color-black 100%);
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
.tastings__title {
    font-size: 52px;
    text-align: center;
    margin-bottom: 36px;
    color: #fff;
}
.tastings__blurb {
    @include feature-body-font();
}
.tastings__blurb p {
    margin-bottom: $feature-blurb-bottom-margin;
}
.tastings__button {
    font-size: 24px;
    font-style: italic;
    color: #fff;
    text-decoration: none;
    padding: 16px 36px;
    border-radius: 6px;
    border: 1px solid colors.$color-white;
    display: inline-block;
    align-self: center;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: all .3s;
}
.tastings__button:hover {
    border: 1px solid #AF786A;
    background-color: rgba(255,255,255, .18);
}
.feature-header {
    margin-top: 85px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.feature-header__logo {
    width: 300px;
    height: 160px;
    background-color: colors.$color-black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 150px;
}
.feature-header__logo::after {
    position: absolute;
    left: 100%;
    bottom: 0;
    content: '';
    border-top: 160px solid colors.$color-black;
    border-right: 80px solid transparent;
}
.feature-header__logo svg {
    height: 105px;
}
.feature-header__logo path {
    fill: colors.$color-white;
}
.feature-header__title {
    font-size: 80px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.40);
    color: colors.$color-white;

}
.feature-hero {
    height: 800px;
    width: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.feature-hero::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 115px;
    // background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.65) 68%, rgba(0,0,0,0.80) 100%);
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 68%, rgba(0, 0, 0, 0.4) 100%)
}
.tastings-header {
    font-size: 80px;
    text-align: center;
    margin-top: 42px;
}
.tastings-subheader {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.25;
    text-align: center;
    margin: 0 auto;
    margin-top: 42px;
    max-width: 900px;
}
.tastings-body {
    font-weight: 500;
    font-size: 36px;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.quick-links {
    width: 100vw;
    background-image: url(../images/quick-links-pattern.png);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    position: relative;
    height: 115px;
    display: flex;
}
.quick-links::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.40);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    z-index: 1;
    backdrop-filter: blur(5px);
}
.quick-links__inner {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    flex: 1;
}
.quick-links__inner a {
    @include font-heading-3();
    padding: 16px 36px;
    text-decoration: none;
    text-shadow: 0 2px 6px rgba(0,0,0,0.85);
    font-family: freight-display-pro, serif;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: all .3s;
}
.quick-links__inner a:hover {
    background-color: rgba(0, 0, 0, .18);
    border: 1px solid #AF786A;
}
.tours {
    position: relative;
}
.tours__header {
    margin-bottom: 120px;
}
.tours__blurb {
    max-width: 550px;
}
.tours__text {
    padding: 140px 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.tours__text-body {
    display: flex;
    flex-direction: column;
}
.tours__button {
    font-size: 24px;
    font-style: italic;
    color: colors.$color-black;
    text-decoration: none;
    padding: 16px 36px;
    border-radius: 6px;
    border: 1px solid  colors.$color-white;
    display: inline-block;
    align-self: center;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: all .3s;
}
.tours__button:hover {
    border: 1px solid #AF786A;
    background-color: rgba(0,0,0, .18);
}

.weddings {
    padding: 60px 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.weddings__photobook {
    width: 900px;
    height: 800px;
    background-image: url(../images/sparkle-frame.webp);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    padding: 100px;
    box-sizing: border-box;
    flex: 0 1 900px;
    box-shadow: rgba(175, 120, 106, 0.4) -5px 5px, rgba(175, 120, 106, 0.3) -10px 10px, rgba(175, 120, 106, 0.2) -15px 15px, rgba(175, 120, 106, 0.1) -20px 20px, rgba(175, 120, 106, 0.05) -25px 25px;
    border-radius: 2px;
}
.weddings__text {
    flex: 1 1;
    padding: 36px 56px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    align-items: center;
}
.weddings__button {
    font-size: 24px;
    font-style: italic;
    color: colors.$color-black;
    text-decoration: none;
    padding: 16px 36px;
    border-radius: 6px;
    border: 1px solid colors.$color-white;
    display: inline-block;
    align-self: center;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: all .3s;
    margin: 0 auto;
}
.weddings__button:hover {
    border: 1px solid #AF786A;
    background-color: rgba(0,0,0, .18);
}
.weddings__photobook-frame {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 19px 3px rgb(0 0 0);
    overflow: hidden;
    // transition: background-image .2s;
}
.placeholder {
    font-size: 24px;
    padding: 100px;
}
.placeholder p {
    margin-bottom: 20px;
}
.views {
    height: 600px;
    width: 100%;
    background-image: url('../images/down-the-vines.jpg');    
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 60px 60px;
    position: relative;
}
.views::before {
    content: '';
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 400px;
    background-image: linear-gradient(0deg, rgba(238,238,238,0.00) 21%, rgba(245,245,245,0.39) 39%, rgba(245,245,245,0.45) 49%, rgba(248,248,248,0.66) 57%, rgba(250,250,250,0.80) 62%, rgba(253,253,253,0.96) 73%, #FFFFFF 100%);
}
.views__header {
    z-index: 9;
    position: relative;
}
.views__buttons {
    z-index: 9;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 40px;
}
.views__buttons a {
    margin: 0px 10px;
}
.wine-card__container li {
    list-style: none;
}
.keen-slider {
    height: 100%;
}
.keen-slider__slide {
    background-color: red;
}
// fix carousel shadow
.wine-card__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline-start: 0;
    padding: 20px 40px 0px;
    margin-bottom: 40px;
}
.wine-card__container > .wine-card {
    flex: 1 0 48%;
    flex-basis: calc(48% - 64px);
}
.wine-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px 32px 32px;
    padding: 24px;
    border-radius: 6px;
    transition: box-shadow .3s;
    position: relative;
    border: 1px solid #af786a;
}
.wine-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.wine-card__image {
    // max-height: 500px;
    // border: 1px solid black;
    width: 260px;
    height: auto;
    align-self: flex-start;
}
.wine-card.dominion img {
    border: 1px solid colors.$color-black;
}
.wine-card__title {
    margin-bottom: 12px;
}
.wine-card__body {
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
}
.wine-card__description {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.3;
    max-width: 500px;
    margin-bottom: 20px;
}
.wine-card__fine-print {
    margin-bottom: 24px;
    font-size: 16px;
}
.wine-card__buy {
    display: flex;
}
.wine-card__quantity {
    margin-right: 24px;
    border: 1px solid colors.$color-black;
    padding: 0.25em 0.5em;
    font-size: 20px;
    cursor: pointer;
    line-height: 1.1;
    background-color: colors.$color-white;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    min-width: 65px;
}
.wine-card__quantity::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: colors.$color-black;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
  }
.wine-card select, .wine-card__quantity::after {
    grid-area: select;
}
.wine-card select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    // Additional resets for further consistency
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}
.wine-card__button {

}


