@import "variables.scss";
@import "mixins.scss";
@import "generic.scss";
@import "objects.scss";
@import "components.scss";
@import "utilities.scss";
* {
  -webkit-font-smoothing: antialiased;
}
/* SASS variables */
$font-stack: freight-display-pro, serif;
$font-color: white;
$font-label-size: 1rem;
$font-label-weight: bold;
$feature-blurb-bottom-margin: 22px;

@mixin feature-body-font {
  font-size: 24px;
  color: $color-white;
  font-weight: medium;
}
@mixin font-heading-1 {
  font-family: FreightDispProSemiBold-Regular;
  // font-size: 80px;
  color: $color-white;
}
@mixin font-heading-2 {
  // font-family: $font-stack;
  font-weight: 400;
  // font-size: 56px;
  color: $color-white;
  // font-style: italic;
  // text-align: center;
  // letter-spacing: 3px;
}
@mixin font-heading-3 {
  font-family: $font-stack;
  font-weight: 500;
  color: $color-white;
  font-size: 36px;
}
@mixin font-heading-4 {
  font-family: $font-stack;
  font-weight: 500;
  color: black;
  font-size: 28px;
}
@mixin font-subheading {
  font-family: $font-stack;
  // font-weight: 700;
  font-size: 26px;
}
p {
  // max-width: 800px;
}
p.xl {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 80px;
}
h1 {
  @include font-heading-1();
  &.dark {
    color: $color-black;
  }
  &.shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  &.center {
    text-align: center;
  }
  &.spaced {
    margin-top: 42px;
  }
}
h2 {
  @include font-heading-2();
  &.dark {
    color: $color-black;
  }
  &.spaced-right {
    margin-right: 80px;
  }
  &.spaced-top {
    padding-top: 42px;
  }
  &.spaced-bottom {
    margin-bottom: 36px !important;
  }
  &.shadow {
    text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  }
}
h3 {
  @include font-heading-3();
  &.dark {
    color: $color-black;
  }
}
.text-subheading {
  @include font-subheading();
  line-height: 1.25;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 36px 48px;
  font-family: FreightDispProSemiBold-Regular;
  font-size: 42px;
  color: #000000;
  text-align: center;
  position: relative;
  &.light {
    color: #ffffff;
  }
}
.text-subheading--small {
  @include font-subheading();
  line-height: 1.3;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 36px 48px 0px;
  font-family: FreightDispProBold-Regular;
  font-size: 32px;
  color: #000000;
  text-align: center;
  margin-top: 48px;
  font-size: least-squares-fit(
    (
      400px: 22px,
      1500px: 26px,
      1400px: 32px,
    )
  );
}
.text-subheading--big {
  @include font-subheading();
  text-align: left;
  margin: 0 auto;
  max-width: 1400px;
  padding: 36px 48px 0px;
  font-family: FreightDispProBold-Regular;
  color: #000000;
  text-align: left;
}
.text-subheading--big p {
  margin: 0 auto;
  max-width: 1200px;
  line-height: 1.5;
  font-family: FreightDispProMedium-Regular;
  font-size: 24px;
}
.text-body-regular {
  font-family: freight-display-pro, serif;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: $color-black;
  line-height: 1.4;
  &.light {
    color: $color-white;
  }
  p {
    margin-bottom: 22px;
  }
  &:last-of-type {
    margin-bottom: 36px;
  }
}
.text-body-highimpact {
  font-family: $font-stack;
  font-weight: 400;
  letter-spacing: 1.19;
  color: $color-black;
  font-size: 36px;
  &.light {
    color: $color-white;
  }
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 80px;
}
/* custom props */
:root {
  --select-border: #d7d7d7;
  --select-focus: cyan;
  --select-arrow: var(--select-border);
  --success-color: #95f204;
  --error-color: #d9001b;
}
body,
html * {
  margin: 0;
  box-sizing: border-box;
}
body {
  // max-width: 1920px;
  font-family: $font-stack;
}
main {
  overflow-x: hidden;
  // height: 100vh;
  // display: flex;
  // flex-direction: column;
  // flex: 1;
  // justify-content: center;
}
.vmv-hr {
  position: relative;
}
hr {
  max-width: 600px;
  border-color: #666666;
  border-width: 2px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 36px;
  position: relative;
  overflow: visible;
}
hr::after {
  content: "";
  height: 4px;
  width: 40px;
  left: calc(50% - 15px);
  background-color: $color-white;
  position: absolute;
  top: -2px;
}
.diamond-narrow {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 20px solid #af786a;
  position: absolute;
  left: calc(50% - 5px);
  top: calc(50% - 30px);
}
.diamond-narrow:after {
  content: "";
  position: absolute;
  left: -10px;
  top: 20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 20px solid #af786a;
}
/* Elements */
.vmv-button--primary {
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  color: #fff;
  background: $color-black;
  padding: 6px 45px;
  text-align: center;
  position: relative;
  display: inline-block;
  border: 1px solid $color-black;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s;
  line-height: 1.25;
}
.vmv-button--secondary {
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  color: $color-black;
  background: $color-white;
  padding: 6px 45px;
  text-align: center;
  position: relative;
  display: inline-block;
  border: 1px solid #af786a;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s;
  line-height: 1.25;
}
.vmv-button--primary:hover,
.vmv-button--secondary:hover {
  border-radius: unset;
}
.vmv-button--primary:hover {
  // color: #caa59c;
  // border-color: #AF786A;
  border-color: black;
  background: #361127;
}
.vmv-button--secondary:hover {
  background: rgba(0, 0, 0, 0.13);
}
/* Site header */
.vmv-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  // padding: 18px 22px;
  padding: 12px 12px;
  z-index: 999;
  transition: background-color 0.3s, padding 0.5s ease-out;
  text-decoration: none;
}

.vmv-header.sticky-transparent {
  background: transparent;
}
.vmv-header.sticky-solid {
  background-color: $color-white;
  border-bottom: 5px solid #af786a;
  padding-top: 4px;
  padding-bottom: 4px;
}
.vmv-header.inlayout-big {
  border-bottom: 5px solid #af786a;
  background-color: $color-white;
}
.vmv-header.inlayout-small {
  border-bottom: 5px solid #af786a;
  background-color: $color-white;
  padding-top: 8px;
  padding-bottom: 8px;
}
.vmv-header__monogram {
  // height: 65px;
  // width: 65px;
  cursor: pointer;
  border-radius: 500px;
  transition: background-color 0.3s;
  flex-shrink: 0;
  margin: 0px 22px 0px 0px;
}

.vmv-header__monogram:hover {
  background-color: rgba(0, 0, 0, 0.18);
}
/* Local site navigation */
.vmv-header__local-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.vmv-header__local-nav > a {
  font-weight: 500;
  font-style: normal;
  // font-size: 26px;
  color: $color-black;
  padding: 16px 36px;
  text-align: center;
  border-radius: 6px;
  transition: all 0.3s;
  margin: 0 12px;
  white-space: nowrap;
  border: 1px solid transparent;
}
.vmv-header__local-nav > a:hover {
  background-color: rgba(0, 0, 0, 0.18);
  border: 1px solid #af786a;
}
.vmv-header a {
  text-decoration: none;
  display: inline-block;
}
/* Icon Buttons */
.vmv-header__nav-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.vmv-header__nav-buttons > a {
  border: 1px solid transparent;
}
.vmv-header__nav-buttons > a:hover {
}
.vmv-header__nav-buttons > a:not(.vmv-button--primary) {
  // padding: 8px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 4px;
  font-size: 18px;
}
.vmv-header__nav-buttons > a:not(.vmv-button--primary):hover {
  background-color: rgba(0, 0, 0, 0.18);
  border: 1px solid #af786a;
}
.vmv-header__nav-buttons > a:last-child {
  margin-left: 32px;
}
.vmv-header__nav-buttons > a:nth-last-child(2) {
  // padding: 8px 4px;
}
.navbar__dropdown {
  display: inline-block;
  position: relative;
}
.navbar__dropdown-label {
  font-weight: 500;
  font-style: normal;
  // font-size: 26px;
  color: $color-black;
  padding: 16px 56px 16px 36px;
  text-align: center;
  border-radius: 6px;
  transition: all 0.3s;
  margin: 0 12px;
  white-space: nowrap;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
}
.navbar__dropdown-label.false::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid $color-black;
  position: absolute;
  right: 32px;
  top: calc(50% - 3px);
  transition: transform 0.2s;
}
.navbar__dropdown-label:hover {
  background-color: rgba(0, 0, 0, 0.18);
  border: 1px solid #af786a;
}
.navbar__dropdown-label.true {
  background-color: rgba(0, 0, 0, 0.18);
  border: 1px solid #af786a;
}
.navbar__dropdown-label.true::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid $color-black;
  position: absolute;
  right: 32px;
  top: calc(50% - 5px);
  transform: rotate(180deg);
  transition: transform 0.2s;
}
.navbar__dropdown-label.false ~ .navbar__dropdown-children {
  visibility: hidden;
  opacity: 0;
}
.navbar__dropdown-children {
  transition: visibility 0.2s, opacity 0.2s;
  background: $color-black;
  padding: 8px;
  position: absolute;
  top: calc(100% + 10px);
  list-style: none;
  min-width: 100%;
  border-radius: 6px;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar__dropdown-label.true ~ .navbar__dropdown-children {
  visibility: visible;
  opacity: 1;
}
.navbar__dropdown-children li {
  font-weight: 500;
  font-style: normal;
  font-size: 26px;
  color: white;
  text-align: left;
  border-radius: 6px;
  transition: all 0.3s;
  white-space: nowrap;
  border: 1px solid transparent;
  cursor: pointer;
}
.navbar__dropdown-children li:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid #af786a;
}
.navbar__dropdown-children li a {
  color: white;
  padding: 16px 36px;
  display: block;
}
/* hero */
.vmv-hero {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vmv-hero svg {
  margin-bottom: 20vh;
}
/*tastings*/
.tastings {
  border-top: 6px solid #af786a;
  position: relative;
  // height: 100vh;
}
.tastings-img {
  width: 100vw;
  height: auto;
}
.tastings__text {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 37vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $feature-padding;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    $color-black 100%
  );
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
.tastings__title {
  font-size: 52px;
  text-align: center;
  margin-bottom: 36px;
  color: #fff;
}
.tastings__blurb {
  @include feature-body-font();
}
.tastings__blurb p {
  margin-bottom: $feature-blurb-bottom-margin;
}
.tastings__button {
  font-size: 24px;
  font-style: italic;
  color: #fff;
  text-decoration: none;
  padding: 16px 36px;
  border-radius: 6px;
  border: 1px solid $color-white;
  display: inline-block;
  align-self: center;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: all 0.3s;
  font-family: FreightDispProBold-Italic;
  letter-spacing: 1.19px;
}
.tastings__button:hover {
  border: 1px solid #af786a;
  background-color: rgba(255, 255, 255, 0.18);
}
.feature-header {
  margin-top: 89px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.feature-header__logo {
  width: 300px;
  height: 160px;
  background-color: $color-black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 150px;
}
.feature-header__logo::after {
  position: absolute;
  left: 100%;
  bottom: 0;
  content: "";
  border-top: 160px solid $color-black;
  border-right: 80px solid transparent;
}
.feature-header__logo svg {
  height: 105px;
}
.feature-header__logo path {
  fill: $color-white;
}
.feature-header__title {
  font-size: 80px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: $color-white;
}
.feature-hero {
  height: 800px;
  width: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &.bottom {
    background-position: bottom center;
  }
}
.feature-hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 115px;
  // background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.65) 68%, rgba(0,0,0,0.80) 100%);
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 68%,
    rgba(0, 0, 0, 0.4) 100%
  );
}
.tastings-header {
  font-size: 80px;
  text-align: center;
  margin-top: 42px;
}
.tastings-subheader {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
  margin: 0 auto;
  margin-top: 42px;
  max-width: 900px;
}
.tastings-body {
  font-weight: 500;
  font-size: 36px;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.quick-links {
  width: 100vw;
  background-image: url(../images/quick-links-pattern.png);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  position: relative;
  height: 115px;
  display: flex;
}
.quick-links::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  backdrop-filter: blur(5px);
}
.quick-links__inner {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  flex: 1;
}
.quick-links__inner a {
  @include font-heading-3();
  padding: 16px 36px;
  text-decoration: none;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.85);
  font-family: FreightDispProMedium-Regular;
  letter-spacing: 1.19px;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: all 0.3s;
  line-height: 1.25;
}
.quick-links__inner a:hover {
  background-color: rgba(0, 0, 0, 0.18);
  border: 1px solid #af786a;
}
.tours {
  position: relative;
}
.tours__header {
  margin-bottom: 120px;
}
.tours__blurb {
  // max-width: 600px;
  max-width: 750px;
}
.tours__text {
  padding: $feature-padding;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  left: 0;
}
.tours__text-body {
  display: flex;
  flex-direction: column;
}
.tours__button {
  font-size: 24px;
  font-style: italic;
  color: $color-black;
  text-decoration: none;
  padding: 16px 36px;
  border-radius: 6px;
  // border: 1px solid  $color-white;
  display: inline-block;
  align-self: center;
  // border: 1px solid transparent;
  border-radius: 6px;
  transition: all 0.3s;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.13);
  font-family: FreightDispProBold-Italic;
  letter-spacing: 1.19px;
}
.tours__button:hover {
  border: 1px solid #af786a;
  background-color: rgba(0, 0, 0, 0.18);
}

.weddings {
  padding: 60px 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.weddings__photobook {
  width: 900px;
  height: 800px;
  background-image: url(../images/sparkle-frame.webp);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  padding: 100px;
  box-sizing: border-box;
  flex: 0 1 900px;
  box-shadow: rgba(175, 120, 106, 0.4) -5px 5px,
    rgba(175, 120, 106, 0.3) -10px 10px, rgba(175, 120, 106, 0.2) -15px 15px,
    rgba(175, 120, 106, 0.1) -20px 20px, rgba(175, 120, 106, 0.05) -25px 25px;
  border-radius: 2px;
}
.weddings__text {
  flex: 1 1;
  padding: 36px 56px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
}
.weddings__button {
  font-size: 24px;
  font-style: italic;
  color: $color-black;
  text-decoration: none;
  padding: 16px 36px;
  border-radius: 6px;
  border: 1px solid $color-white;
  display: inline-block;
  align-self: center;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: all 0.3s;
  margin: 0 auto;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.13);
  font-family: FreightDispProBold-Italic;
  letter-spacing: 1.19px;
}
.weddings__button:hover {
  border: 1px solid #af786a;
  background-color: rgba(0, 0, 0, 0.18);
}
.weddings__photobook-frame {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 19px 3px rgb(0 0 0);
  overflow: hidden;
  // transition: background-image .2s;
}
.placeholder {
  font-size: 24px;
  padding: 100px;
}
.placeholder p {
  margin-bottom: 20px;
}
.footer {
  height: 1000px;
  max-height: 100vh;
  width: 100%;
  background-image: url("../images/erins-view.jpg");
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
  padding: 60px 60px;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}
.footer::before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 400px;
  // background-image: linear-gradient(0deg, rgba(238,238,238,0.00) 21%, rgba(245,245,245,0.39) 39%, rgba(245,245,245,0.45) 49%, rgba(248,248,248,0.66) 57%, rgba(250,250,250,0.80) 62%, rgba(253,253,253,0.96) 73%, #FFFFFF 100%);
}
.views__header {
  z-index: 9;
  position: relative;
}
.views__buttons {
  z-index: 9;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 40px;
}
.views__buttons a {
  margin: 0px 10px;
}
.wine-card__container li {
  list-style: none;
}
.keen-slider {
  height: 100%;
}
.keen-slider__slide {
  background-color: red;
}
// fix carousel shadow
.wine-card__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline-start: 0;
  padding: 20px 40px 0px;
  margin-bottom: 40px;
  position: relative;
}
.wine-card__container::after {
  content: "";
  position: relative;
  flex-grow: 1;
  flex: 1 1 48%;
  flex-basis: calc(48% - 64px);
  margin: 0px 32px 32px;
  padding: 24px;
}
.wine-card__container > .c-WineCard {
  flex: 1 0 48%;
  flex-basis: calc(48% - 64px);
}

.c-footer {
  width: 100vw;
  height: 400px;
  background: black;
}
.tours-photo-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: stretch;
  height: 400px;
}
.tours-photo-grid__item {
  flex: 1 0 33%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tours-photo-grid__item:nth-child(1) {
  background-image: url("../images/tours-thumb-1.jpg");
}
.tours-photo-grid__item:nth-child(2) {
  background-image: url("../images/tours-thumb-2.jpg");
}
.tours-photo-grid__item:nth-child(3) {
  background-image: url("../images/tours-thumb-3.jpg");
}
.tours-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
.tours-body__image {
  margin-right: 20px;
}
.tours-body__text {
  padding: 60px 80px;
}
.body-padded {
  padding: 40px 80px;
}
.body-padded.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.body-col.even-col {
  flex: 0 0 auto;
}
.body-clamped-wide {
  max-width: 1400px;
  margin: 0 auto;
}
.body-tight-top {
  padding-top: 10px;
  padding-bottom: 10px;
}
.body-col ul {
  padding-left: 64px;
}
.body-col ul li {
  font-family: FreightDispProMedium-Regular;
  font-size: 32px;
  color: #000000;
  margin-bottom: 4px;
}
.body-col ul li:first-of-type {
  margin-top: 12px;
}
.body-col.even-col h3 {
  font-family: FreightDispProBlack-Regular;
  font-size: 36px;
  color: #000000;
}
.hr-divider {
  margin: 50px auto 30px;
  display: block;
}
.heavy-block {
  padding: 50px 50px;
  background: #000000;
  color: #e5c6b5;
  font-family: FreightDispProMedium-Regular;
  font-size: 32px;
  color: #e5c6b5;
  text-align: center;
  font-family: FreightDispProBook-Italic;
  font-size: 34px;
  // color: #000000;
  letter-spacing: 3px;
  text-shadow: 0 1px 5px rgba(255, 255, 255, 0.16);
}
.footer-info {
  position: absolute;
  left: 22px;
  right: 22px;
  bottom: 22px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.footer-info-box {
  background: rgba(0, 0, 0, 0.7);
  // border: 1px solid rgba(175, 120, 106, 0.3);
  border-radius: 3px;
  padding: 34px;
  backdrop-filter: blur(3px);
  transition: background 0.3s;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.footer-info-box:hover {
  background: rgba(0, 0, 0, 0.9);
}
.footer-info-box:nth-child(1) {
  flex-basis: 25%;
}
.footer-info-box:nth-child(2) {
  flex-basis: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-info-box label {
  font-family: FreightDispProMedium-Regular;
  font-size: 26px;
  color: #ffffff;
  align-self: stretch;
  text-align: center;
}
.footer-info-box input {
  display: block;
  margin-top: 24px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  // height: 42px;
  padding: 12px 16px;
  font-family: FreightDispProMedium-Regular;
  font-size: 24px;
  color: #000;
  width: 100%;
}
.footer-info-box:nth-child(3) {
  flex-basis: 25%;
}
.footer-logo {
  height: 100px;
  // margin-bottom: 12px;
  margin: 4px 0 40px;
}
.footer-info_hours-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-family: FreightDispProBold-Regular;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 0.7px;
  text-align: right;
  line-height: 35px;
}
.hours_item-hours {
  width: 100px;
  margin-left: 6px;
}
.heavy-highlighted {
  color: white;
  margin-top: 14px;
  font-style: normal;

  font-family: FreightDispProBook-Regular;

  letter-spacing: 3px;
  text-shadow: 0 1px 5px rgba(255, 255, 255, 0.3);
}
.sunset-tent-image {
  border: 1px solid #af786a;
}

.wedding-grid {
  display: grid;
  grid-template-columns: 4fr 1fr 3fr;
  grid-template-rows: 3fr 1fr 4fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  font-family: FreightDispProMedium-Regular;
  font-size: 36px;
  color: #000000;
  max-width: 1300px;
}

.wedding-grid-child1 {
  grid-area: 1 / 1 / 2 / 3;
}
.wedding-grid-child2 {
  grid-area: 1 / 3 / 3 / 4;
  background-image: url(../images/rose-and-rings.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.wedding-grid-child3 {
  grid-area: 2 / 1 / 4 / 2;
  background-image: url(../images/wedding-sign.webp);
  background-position: center;
  background-repeat: no-repeat;

  background-size: 100% auto;
}
.wedding-grid-child4 {
  grid-area: 3 / 2 / 4 / 4;
}
