/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
$color-black: #000000;
$color-white: #ffffff;

$text-primary: $color-black;
$text-alternate: $color-white;

$feature-padding: 3vw 3vw;

